<header>
    <div class="container">
        <a href="/" class="logo">Food Mine...</a>
        <nav>
            <ul>
                <li *ngIf="!isAuth">
                    <a href="/login">Login</a>
                </li>
                <li *ngIf="isAuth" class="menu-container">
                    <a href="/dashboard">{{user.name}}</a>
                    <div class="menu">
                        <a href="/profile">Profile</a>
                        <a href="/orders">Orders</a>
                        <a (click)="logout()">Logout</a>
                    </div>
                </li>
                <li>
                    <a href="/cart-page">Cart <span>{{cartQuantity}}</span></a>
                </li>
            </ul>
        </nav>
    </div>
</header>